@import "./common.scss";

// Chat.html Size
$submit-button-size: 3rem;
$header-height: 3rem;
$chat-margin-left: 1rem;
$chat-margin-right: 1rem;
$chat-margin-top: 1rem;
$chat-margin-bottom: 4rem;
$message-gap: 12.5px;
$message-img-size: 50px;
$message-text-width: 300px;

.chat {
  width: calc(100% - ($chat-margin-left + $chat-margin-right));
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;

  margin: $chat-margin-top $chat-margin-right $chat-margin-bottom
    $chat-margin-left;
}
.chatheader {
  width: 100%;
  height: $header-height;

  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;
  margin-bottom: 15px;

  background-color: $color-primary-blue;
  border-bottom: 1px solid $color-background;
}

section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: $message-gap;

  .profileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: $message-img-size;
      height: $message-img-size;
      aspect-ratio: 1;
      border-radius: 50%;
      object-fit: cover;
    }
    .username {
      font-size: $font-size-md;
    }
  }
  .messageBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: $message-text-width;
    overflow-wrap: anywhere;
    .message {
      padding: 10px;
      border-radius: 10px;
      max-width: calc(100% - 2 * $message-img-size);
      font-size: $font-size-md;
    }
    .time {
      color: $color-gray;
      font-size: $font-size-sm;
    }
  }
}

.other {
  justify-content: flex-start;
  .messageBox {
    align-items: flex-start;
    .message {
      background-color: $color-primary-blue;
    }
  }
}
.mine {
  flex-direction: row-reverse;
  .messageBox {
    align-items: flex-end;
    .message {
      background-color: $color-primary-blue-light;
    }
  }
}

.messageInput {
  width: calc(100% - 20px);
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 10px 10px 10px;

  input[type*="text"] {
    width: 100%;
    height: $submit-button-size;
    font-size: $font-size-md;

    border: none;
    border-radius: 10px;
    padding: 0 1rem;
    outline: none;
    resize: none;
    &:focus {
      outline: 1px solid $color-primary-blue;
    }
  }
  input[type*="submit"] {
    width: 10%;
    min-width: $submit-button-size;
    height: $submit-button-size;
    font-size: $font-size-md;

    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    resize: none;

    background-color: $color-primary-blue;
    color: $color-background;

    cursor: pointer;
  }
}
